node_modules
.next
.env
.DS_Store
*.log
dist
build
coverage 
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?       
*.tsbuildinfo
*.cache
*.eslintcache
*.prettiercache
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
```    